@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .form-label {
    @apply uppercase md:text-sm text-xs text-gray-600 font-semibold mt-1 md:w-full md:mx-0 mx-4;
  }
  .form-input {
    @apply md:py-1 md:w-full md:mx-0 mx-4 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }
  .contain {
    @apply my-0 mx-auto max-w-5xl;
  }
  .edit-button {
    @apply text-gray-700  bg-gradient-to-r from-blue-200 to-green-400 rounded-lg p-3  px-5;
  }
  .delete-button {
    @apply text-gray-700  bg-gradient-to-r from-purple-400 to-red-400 rounded-lg  p-3;
  }
  .title {
    @apply md:text-4xl text-sm;
  }
}
