@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url("/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .form-label {
    @apply uppercase md:text-sm text-xs text-gray-500 font-semibold;
  }
  .form-input {
    @apply py-2 px-3 rounded-lg border-2 border-purple-300 mt-1 focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent;
  }
  .contain {
    @apply my-0 mx-auto max-w-5xl;
  }
  .edit-button {
    @apply p-3 bg-green-300 mr-4 rounded-full hover:bg-green-600 text-gray-700;
  }
  .delete-button {
    @apply p-3 bg-red-300 mr-4 rounded-full hover:bg-red-500 text-gray-700;
  }
}
